/* style.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    font-family: 'Satoshi-Bold';
    color: #fff;
    padding: 0.1em;
    text-align: center;
}

h1 {
    background: -webkit-linear-gradient(45deg, #e80d70, #f2921c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Satoshi-Medium';
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main div {
    text-align: center;
}

footer {
    background-color: black;
    font-family: 'Satoshi-Light';
    color: #fff;
    text-align: center;
    padding: 1em;
}

.logo {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    width: 70px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}