/* styles.css */

@font-face {
    font-family: 'Satoshi-Black';
    src: url('fonts/Satoshi-Black.otf');
}

@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('fonts/Satoshi-BlackItalic.otf');
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('fonts/Satoshi-Bold.otf');
}

@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('fonts/Satoshi-BoldItalic.otf');
}

@font-face {
    font-family: 'Satoshi-Italic';
    src: url('fonts/Satoshi-Italic.otf');
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url('fonts/Satoshi-Light.otf');
}

@font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('fonts/Satoshi-LightItalic.otf');
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('fonts/Satoshi-Medium.otf');
}

@font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('fonts/Satoshi-MediumItalic.otf');
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('fonts/Satoshi-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f07a39;
    font-family: 'Satoshi-Bold';
    color: #fff;
    padding: 1%;
    text-align: center;
}

main {
    display: flex;
    font-family: 'Satoshi-Medium';
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main div {
    text-align: center;
}

footer {
    background-color: #f07a39;
    font-family: 'Satoshi-Light';
    color: #fff;
    text-align: center;
    padding: 1em;
}

.logo {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    width: 70px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}